body {
	background-color: grey;
	padding-left: 50px;
	padding-right: 50px;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
  	font-family: "Arial Black", Gadget, san
  	s-serif;	
  	height: 50px;
  	background-color: #586170;
}

.nav a{
	text-decoration: none;
	color: black;
	padding: 10px;
}

.nav a:hover {
    background-color: #4366a0;
}